<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huabang.ofo.dao.HbMessagesMapper" >
  <resultMap id="BaseResultMap" type="com.huabang.ofo.domain.HbMessage" >
    <id column="mess_id" property="messId" jdbcType="INTEGER" />
    <result column="mess_name" property="messName" jdbcType="VARCHAR" />
    <result column="mess_simpleness" property="messSimpleness" jdbcType="VARCHAR" />
    <result column="mess_message" property="messMessage" jdbcType="VARCHAR" />
    <result column="mess_details" property="messDetails" jdbcType="VARCHAR" />
    <result column="mess_jbdetails" property="messJbdetails" jdbcType="VARCHAR" />
    <result column="mess_police" property="messPolice" jdbcType="VARCHAR" />
    <result column="mess_police_phone" property="messPolicePhone" jdbcType="INTEGER" />
    <result column="mess_createtime" property="messCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.huabang.ofo.domain.HbMessage" >
    <id column="mess_id" property="messId" jdbcType="INTEGER" />
    <result column="mess_name" property="messName" jdbcType="VARCHAR" />
    <result column="mess_simpleness" property="messSimpleness" jdbcType="VARCHAR" />
    <result column="mess_createtime" property="messCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mess_id, mess_name, mess_simpleness, mess_message, mess_details, mess_jbdetails, 
    mess_police, mess_police_phone, mess_createtime
  </sql>
  <sql id="Base_Column_List2" >
    mess_id, mess_name, mess_simpleness, mess_createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huabang.ofo.domain.HbMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hb_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hb_message
    where mess_id = #{messId,jdbcType=INTEGER}
  </select>
  <select id="selectBySimmple" resultType="com.huabang.ofo.domain.HbMessage">
    select 
    mess_id, mess_name, mess_simpleness, mess_createtime
    from hb_message
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hb_message
    where mess_id = #{messId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huabang.ofo.domain.HbMessageExample" >
    delete from hb_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huabang.ofo.domain.HbMessage" >
    insert into hb_message (mess_id, mess_name, mess_simpleness, 
      mess_message, mess_details, mess_jbdetails, 
      mess_police, mess_police_phone, mess_createtime
      )
    values (#{messId,jdbcType=INTEGER}, #{messName,jdbcType=VARCHAR}, #{messSimpleness,jdbcType=VARCHAR}, 
      #{messMessage,jdbcType=VARCHAR}, #{messDetails,jdbcType=VARCHAR}, #{messJbdetails,jdbcType=VARCHAR}, 
      #{messPolice,jdbcType=VARCHAR}, #{messPolicePhone,jdbcType=INTEGER}, #{messCreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huabang.ofo.domain.HbMessage" >
    insert into hb_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messId != null" >
        mess_id,
      </if>
      <if test="messName != null" >
        mess_name,
      </if>
      <if test="messSimpleness != null" >
        mess_simpleness,
      </if>
      <if test="messMessage != null" >
        mess_message,
      </if>
      <if test="messDetails != null" >
        mess_details,
      </if>
      <if test="messJbdetails != null" >
        mess_jbdetails,
      </if>
      <if test="messPolice != null" >
        mess_police,
      </if>
      <if test="messPolicePhone != null" >
        mess_police_phone,
      </if>
      <if test="messCreatetime != null" >
        mess_createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messId != null" >
        #{messId,jdbcType=INTEGER},
      </if>
      <if test="messName != null" >
        #{messName,jdbcType=VARCHAR},
      </if>
      <if test="messSimpleness != null" >
        #{messSimpleness,jdbcType=VARCHAR},
      </if>
      <if test="messMessage != null" >
        #{messMessage,jdbcType=VARCHAR},
      </if>
      <if test="messDetails != null" >
        #{messDetails,jdbcType=VARCHAR},
      </if>
      <if test="messJbdetails != null" >
        #{messJbdetails,jdbcType=VARCHAR},
      </if>
      <if test="messPolice != null" >
        #{messPolice,jdbcType=VARCHAR},
      </if>
      <if test="messPolicePhone != null" >
        #{messPolicePhone,jdbcType=INTEGER},
      </if>
      <if test="messCreatetime != null" >
        #{messCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huabang.ofo.domain.HbMessageExample" resultType="java.lang.Integer" >
    select count(*) from hb_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hb_message
    <set >
      <if test="record.messId != null" >
        mess_id = #{record.messId,jdbcType=INTEGER},
      </if>
      <if test="record.messName != null" >
        mess_name = #{record.messName,jdbcType=VARCHAR},
      </if>
      <if test="record.messSimpleness != null" >
        mess_simpleness = #{record.messSimpleness,jdbcType=VARCHAR},
      </if>
      <if test="record.messMessage != null" >
        mess_message = #{record.messMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.messDetails != null" >
        mess_details = #{record.messDetails,jdbcType=VARCHAR},
      </if>
      <if test="record.messJbdetails != null" >
        mess_jbdetails = #{record.messJbdetails,jdbcType=VARCHAR},
      </if>
      <if test="record.messPolice != null" >
        mess_police = #{record.messPolice,jdbcType=VARCHAR},
      </if>
      <if test="record.messPolicePhone != null" >
        mess_police_phone = #{record.messPolicePhone,jdbcType=INTEGER},
      </if>
      <if test="record.messCreatetime != null" >
        mess_createtime = #{record.messCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hb_message
    set mess_id = #{record.messId,jdbcType=INTEGER},
      mess_name = #{record.messName,jdbcType=VARCHAR},
      mess_simpleness = #{record.messSimpleness,jdbcType=VARCHAR},
      mess_message = #{record.messMessage,jdbcType=VARCHAR},
      mess_details = #{record.messDetails,jdbcType=VARCHAR},
      mess_jbdetails = #{record.messJbdetails,jdbcType=VARCHAR},
      mess_police = #{record.messPolice,jdbcType=VARCHAR},
      mess_police_phone = #{record.messPolicePhone,jdbcType=INTEGER},
      mess_createtime = #{record.messCreatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huabang.ofo.domain.HbMessage" >
    update hb_message
    <set >
      <if test="messName != null" >
        mess_name = #{messName,jdbcType=VARCHAR},
      </if>
      <if test="messSimpleness != null" >
        mess_simpleness = #{messSimpleness,jdbcType=VARCHAR},
      </if>
      <if test="messMessage != null" >
        mess_message = #{messMessage,jdbcType=VARCHAR},
      </if>
      <if test="messDetails != null" >
        mess_details = #{messDetails,jdbcType=VARCHAR},
      </if>
      <if test="messJbdetails != null" >
        mess_jbdetails = #{messJbdetails,jdbcType=VARCHAR},
      </if>
      <if test="messPolice != null" >
        mess_police = #{messPolice,jdbcType=VARCHAR},
      </if>
      <if test="messPolicePhone != null" >
        mess_police_phone = #{messPolicePhone,jdbcType=INTEGER},
      </if>
      <if test="messCreatetime != null" >
        mess_createtime = #{messCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mess_id = #{messId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huabang.ofo.domain.HbMessage" >
    update hb_message
    set mess_name = #{messName,jdbcType=VARCHAR},
      mess_simpleness = #{messSimpleness,jdbcType=VARCHAR},
      mess_message = #{messMessage,jdbcType=VARCHAR},
      mess_details = #{messDetails,jdbcType=VARCHAR},
      mess_jbdetails = #{messJbdetails,jdbcType=VARCHAR},
      mess_police = #{messPolice,jdbcType=VARCHAR},
      mess_police_phone = #{messPolicePhone,jdbcType=INTEGER},
      mess_createtime = #{messCreatetime,jdbcType=TIMESTAMP}
    where mess_id = #{messId,jdbcType=INTEGER}
  </update>
</mapper>