<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>欢迎页</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">了解ofo小单车</div>
		<div style="padding: 10px 0 20px 10px;">
			<h3>&nbsp;&nbsp;&nbsp;产品特点</h3>

			<ul>
				<li>方便、快捷的出行体验</li>
				<li>推出了标志性“小黄车”，车体颜色统一涂刷为黄色</li>
				<li>缓解交通拥堵，减少环境污染提高闲置自行车的利用率</li>
				<li>应用软件操作简单、流畅</li>
			</ul>

			<h3>&nbsp;&nbsp;&nbsp;产品优势</h3>
			<ul>
				<li>1.获取解锁码/点击[马上用车]，输入车牌号即可获得解锁码 </li>
				<li>2.拨轮锁开锁/从左往右拨动密码盘，使密码对准锁身黄色标准线，按下圆形按钮，成功开锁（键盘锁开锁/输入密码，按下密码盘下方的按钮，即可成功开锁）。</li>
				<li>3.如何停放/结束使用后，锁车、打乱密码，将车停放至道路两旁安全区域，方便他人取用 用户在使用时，通过移动App</li>
				<li>4.输入车牌号即可获得密码解锁单车， 并可以将车骑到任意可停放区域，随取随用、随时停放。</li>
			</ul>
		</div>
	</div>
</body>
</html>